::-webkit-input-placeholder {
    color: #fff;
}
input{
    width: 100%;
    height: 40px;
    background-color: var(--default-color);
    color: #fff;
    font-size: 15px;
    font-weight: 800;
    border: none;
}
.listTask .addTask{
    text-align: center;
    padding: 0 20px;
}
.listTask input{
    text-align: left;
    padding: 0 40px;
    display: block;
}
input[type="checkbox"]{
    position: absolute;
    width: 20px;
    margin-left: 10px;
}
.tasks:nth-child(1){
    margin-top: 10px;
}